<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Об авторе</title>
</head>
<body>

<h1>Об авторе</h1>

<p><b>ФИО:</b> Алексей Мушенков</p>
<p><b>Учебное заведение:</b> Финансовый Университет</p>
<p><b>Группа:</b> ДПИ23-1</p>
<p><b>Контактные данные:</b> 233263@edu.fa.ru</p>

<h2>Описание проекта</h2>
<p>
    Информационно-справочная система олимпиад предназначена для хранения,
    поиска и управления информацией об олимпиадах различного уровня.
</p>

<h2>Используемые технологии</h2>
<ul>
    <li>Java 17</li>
    <li>Spring Boot</li>
    <li>Spring Security</li>
    <li>Hibernate / JPA</li>
    <li>PostgreSQL</li>
    <li>Thymeleaf</li>
</ul>

<h2>Сроки выполнения</h2>
<p>Начало разработки: октябрь 2025</p>
<p>Завершение разработки: декабрь 2025</p>

<a href="/home">На главную</a>

</body>
</html>